* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.barber-logo img {
  height: 50px;
  width: 100px;
}
.navbar-list {
  display: flex;
  gap: 25px;
}
.navbar-list li {
  list-style-type: none;
}
.navbar-list li a {
  text-decoration: none;
  color: black;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 130px;
}
#para{
  padding: 5px 0px 5px 0px;
}
#para{
  padding: 5px 0px 10px 0px;
  font-size: 13px;
}

@media(max-width:320px){
       header{        
        flex-direction: column;
        align-items: center;
    } 
   
    .navbar-list{
      gap: 5px;
    }
    .navbar-list li a{
      font-size: 10px;
    }
    .divfor-bg-color{
      padding: 10px !important;
      display: flex;
      justify-content: start !important;
      align-items: flex-start !important;
      text-align: center;
    }
    .div-for-flex h3 {
      width: 294px !important;
      font-size: 16px !important;
      padding-bottom: 4px;
  }
  .div-for-flex > button{
    font-size: 8px;
    width: 100px !important;
    padding: 6px 5px !important;
}

.service-main-div{
  padding: 10px 5px 0px 5px !important;
}
.service-heading > h4{
  font-size: 15px !important;
}
.service-heading > p{
  font-size: 13px;
}
  
.traditional-cut{
  text-align: center;
}
.traditional-cut img{
  height: 45px !important;
  width: 80px !important;
}
      .font{
        font-size: 15px !important;


      }
      p.opacity{
        font-size: 13px !important;
      }

      p.price{
        font-size: 18px !important;
        padding-top: 5px;
      }
      .mustache-trim{
        text-align: center;
      }
      .mustache-trim img{
       height: 37px !important;
       width: 50px !important; 
      }
      .beard-trim img{
        height: 37px !important;
        width: 50px !important;
      }
      .beard-trim{
        text-align: center;
      }
      .services-btn{
        font-size: 9px !important;
        padding: 7px 12px !important;
      }

  }
 


@media (min-width:321px) and (max-width:375px){
  header{        
    flex-direction: column;
    align-items: center;
} 

.navbar-list{
  gap: 8px;
}
.navbar-list li a{
  font-size: 10px;
}
.divfor-bg-color{
  padding: 10px !important;
  display: flex;
  justify-content: start !important;
  align-items: flex-start !important;
  text-align: center;
}
.div-for-flex h3 {
  width: 312px !important;
  font-size: 16px !important;
  padding-bottom: 4px;
}
.div-for-flex > button{
font-size: 9px;
width: 123px !important;
padding: 9px 7px !important;
}
#para{
  font-size: 14px;
}

.service-main-div{
  padding: 10px 5px 0px 5px !important;
}
.service-heading > h4{
  font-size: 16px !important;
}
.service-heading > p{
  font-size: 14px;
}
  
.traditional-cut{
  text-align: center;
}
.traditional-cut img{
  height: 45px !important;
  width: 80px !important;
}
      .font{
        font-size: 16px !important;


      }
      p.opacity{
        font-size: 14px !important;
      }

      p.price{
        font-size: 18px !important;
        padding-top: 5px;
      }
      .mustache-trim{
        text-align: center;
      }
      .mustache-trim img{
       height: 37px !important;
       width: 50px !important; 
      }
      .beard-trim img{
        height: 37px !important;
        width: 50px !important;
      }
      .beard-trim{
        text-align: center;
      }
      .services-btn{
        font-size: 10px !important;
        padding: 8px 13px !important;
      }


}

   @media (min-width:376px) and (max-width:425px){
       header{
        display: flex;
        flex-direction: column;
        padding: 0px;
        justify-content: space-between;                
       }

       .navbar-list li a{
        font-size: 13px;

       }
       .barber-logo img{
        width: 80px;
       }

       .navbar-list{
        gap: 5px;
       }
       .divfor-bg-color{
        padding: 10px !important;
        display: flex;
        justify-content: start !important;
        align-items: flex-start !important;
        text-align: center;
      }
      .div-for-flex h3 {
        width: 312px !important;
        font-size: 18px !important;
        padding-bottom: 4px;
      }
      .div-for-flex > button{
      font-size: 10px;
      width: 138px !important;
      padding: 9px 7px !important;
      }
      #para{
        font-size: 14px;
      }
      .service-main-div{
        padding: 10px 5px 0px 5px !important;
      }
      .service-heading > h4{
        font-size: 17px !important;
      }
      .service-heading > p{
        font-size: 15px;
      }
        
      .traditional-cut{
        text-align: center;
      }
      .traditional-cut img{
        height: 47px !important;
        width: 85px !important;
      }
            .font{
              font-size: 17px !important;
      
      
            }
            p.opacity{
              font-size: 16px !important;
            }
      
            p.price{
              font-size: 18px !important;
              padding-top: 5px;
            }
            .mustache-trim{
              text-align: center;
            }
            .mustache-trim img{
             height: 37px !important;
             width: 50px !important; 
            }
            .beard-trim img{
              height: 37px !important;
              width: 50px !important;
            }
            .beard-trim{
              text-align: center;
            }
            .services-btn{
              font-size: 10px !important;
              padding: 8px 13px !important;
            }
      
   }

   @media (min-width:426px) and (max-width:768px){
       header{
        padding: 5px;
        flex-direction: column;
       }
       .navbar-list{
        gap: 13px;

       }
       .navbar-list li a{
        font-size: 13px;
       }
      
      .div-for-flex h3 {
        width: 333px !important;
        font-size: 25px !important;
        padding-bottom: 8px;
      }
      .div-for-flex > button{
      font-size: 10px;
      width: 138px !important;
      padding: 9px 7px !important;
      }
      #para{
        font-size: 14px;
      }
      .service-main-div{
        padding: 10px 5px 0px 5px !important;
      }
      .service-heading > h4{
        font-size: 18px !important;
      }
      .service-heading > p{
        font-size: 15px;
      }
        
      .traditional-cut{
        text-align: center;
      }
      .traditional-cut img{
        height: 47px !important;
        width: 85px !important;
      }
            .font{
              font-size: 18px !important;
      
      
            }
            p.opacity{
              font-size: 16px !important;
            }
      
            p.price{
              font-size: 20px !important;
              padding-top: 5px;
            }
            .mustache-trim{
              text-align: center;
            }
            .mustache-trim img{
             height: 37px !important;
             width: 50px !important; 
            }
            .beard-trim img{
              height: 37px !important;
              width: 50px !important;
            }
            .beard-trim{
              text-align: center;
            }
            .services-btn{
              font-size: 11px !important;
              padding: 8px 13px !important;
            }

   }

   @media (min-width:769px) and (max-width:1025px){
    header{
      display: flex;
      padding: 5px;

    }

   }

   @media (min-width:1026px) and (max-width:1440px){
    header{
      display: flex;
      justify-content: space-between;
      padding: 5px;
    }
    .navbar-list{
      gap: 50px;
    }
    .navbar-list li a{
      font-size: 20px;
    }
    .service-main-div{
      padding-top: 30px !important;
    }
    .service-heading > h4{
      font-size: 30px !important;
    }
    .service-heading > p{
      font-size: 23px;
    }
    .divs3-for-flex{
      gap: 140px !important;
    }
    .traditional-cut img{
      /* height: 70px !important;
      width: 120px !important; */
      
    }
   }

   @media (min-width:1441px) and (max-width:2560px){
    header{
      padding: 0;
    }
    .barber-logo img{
      height: 105px;
      width: 170px;
    }
    .navbar-list li a{
      font-size: 38px;
    }
    .navbar-list{
      gap: 55px;
    }
    
    .div-for-flex h3{
      width: 543px !important;
      font-size: 55px !important;
    }
    #para{
      font-size: 26px !important;
    }
    .div-for-flex > button{
      width: 280px !important;
      font-size: 22px !important;
    }

   }



.down-from-header {
  background-image: url(images/down-from-nav.jpg);
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}
.divfor-bg-color {
  background-color: rgba(8, 7, 7, 0.7);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
}
.div-for-flex {
 
  color: white;
  /* padding-top: 160px; */
  width: max-content;
}
.div-for-flex > button {
  width: 200px;
  border: none;
  border-radius: 35px;
  padding: 10px 15px;
  background-color: rgb(130, 114, 50);
  color: white;
}
.div-for-flex h3 {
  width: 380px;
  font-size: 40px;
}
.traditional-cut {
  width: 270px;
  
}
.mustache-trim {
  width: 270px;
  
}
.beard-trim {
  width: 270px;
  
}
.traditional-cut img {
  height: 50px;
  width: 100px;
}
.mustache-trim img {
  height: 50px;
  width: 100px;
}
.beard-trim img {
  height: 50px;
  width: 100px;
}
.divs3-for-flex {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.service-heading {
  text-align: center;
}
.service-heading > p {
  text-align: center;
  opacity: 0.6;
  padding: 8px;
}
.service-heading > h4 {
  font-size: 25px;
}
.service-main-div {
  padding-top: 50px;
}
.service-main-div > button {
  width: 160px;
}
.view-services-button {
  text-align: center;
  padding-bottom: 15px;
}
.services-btn {
  border: none;
  border-radius: 30px;
  padding: 15px 30px;
  background-color: rgb(130, 114, 50);
  color: white;
}
p.font {
  font-size: 25px;
  padding: 5px 0px 2px 0px;
}
p.opacity {
  opacity: 0.5;
}
.div-for-pic img {
  height: 370px;
  width: 300px;
}

.div-for-sidecontent {
  width: 550px;
  background-color: white;
  padding: 30px;
}
.div-1st p {
  opacity: 0.7;
  padding-top: 5px;
}
.div-1st h3 {
  font-size: 25px;
}
.pic-content {
  background-color: rgb(244, 241, 236);
  padding: 30px 0px;
}

.pic-content1 {
  display: flex;
  align-items: center;
  gap: 20px;
  width: max-content;
  margin: 0 auto;
}
.button-div {
  text-align: center;
  width: max-content;
}

.button-div button {
  padding: 10px 20px;
  border: none;
  background-color: rgb(130, 114, 50);
  border-radius: 35px;
  color: white;
}
.h4-p {
  text-align: center;
}
.h4-p h4 {
  font-size: 30px;
}
.h4-p p {
  font-size: 15px;
  opacity: 0.7;
  padding-top: 5px;
}
.divfor-reviewsflex {
  display: flex;
  gap: 20px;
  padding-top: 20px;
  justify-content: center;
}
.reviews-p {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.reviews-main-div2 {
  align-items: center;
  padding: 50px;
}
.reviews-p1 {
  opacity: 0.7;
}
.p-34 {
  opacity: 0.7;
}

.pic-with-3p {
  background-image: url(images/man-in-jacket.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}
.pic-with-3p-1 {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  justify-content: center;
  padding-left: 120px;
  width: max-content;
}
.pic-with-3p-1 h4 {
  font-size: 30px;
}
.pic-with-3p-1 button {
  background-color: rgb(130, 114, 50);
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  color: white;
}
.pic-with-3p-1 p {
  opacity: 0.7;
}
.for-pic-and-content img {
  height: 300px;
  width: 300px;
}
.for-pic-and-content {
  display: flex;
  gap: 10px;
  justify-content: center;
  background-color: rgb(244, 241, 236);
  margin: 0px auto;
  width: max-content;
  padding: 10px;
}
.for-pic-and-content img {
  height: 250px;
  width: 350px;
  border-radius: 10px;
}

.for-content-flex {
  width: 400px;
}
.best-salon p {
  font-size: 25px;
  padding-bottom: 10px;
}
.jan-1 {
  opacity: 0.7;
  padding-top: 10px;
  padding-bottom: 15px;
}
.co,
.au {
  color: rgb(130, 114, 50);
}
.for-content-flex button {
  border: none;
  padding: 10px 20px;
  background-color: rgb(130, 114, 50);
  color: white;
  border-radius: 20px;
}
.form1 {
  display: flex;
}
.form1 input {
  padding: 15px 35px 15px 0px;
  border: none;
  color: white;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.form1 button {
  padding: 0px 15px;
  background-color: rgb(130, 114, 50);
  border: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

footer {
  background-color: black;
  padding: 20px;
}
.footer-content {
  display: flex;
  gap: 50px;
  justify-content: center;
  background-color: #232121;
  color: white;
  padding: 30px;
  width: 70%;
  margin: 0 auto;
}


.part-1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.part-1 h5 {
  font-size: 25px;
}
.location {
  display: flex;
  gap: 10px;
  opacity: 0.7;
}
.call {
  display: flex;
  gap: 10px;
  opacity: 0.7;
}

.landline {
  display: flex;
  gap: 10px;
  opacity: 0.7;
}

.mail {
  display: flex;
  gap: 10px;
  opacity: 0.7;
}
.part-2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.part-2-conten {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.part-2 h5 {
  font-size: 25px;
}
.facebook {
  display: flex;
  gap: 10px;
  opacity: 0.7;
}

.twitter {
  display: flex;
  gap: 10px;
  opacity: 0.7;
}

.google {
  display: flex;
  gap: 10px;
  opacity: 0.7;
}

.linkedin {
  display: flex;
  gap: 10px;
  opacity: 0.7;
}
.youtube {
  display: flex;
  gap: 10px;
  opacity: 0.7;
}
.part-3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 350px;
}
.part-3 h5 {
  font-size: 25px;
}

.icons-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.second-last-p p {
  font-size: 25px;
  text-align: center;
  padding-bottom: 15px;
}

.secon-last-page {
  padding-top: 50px;
}

@media (max-width: 768px) {
  .pic-content1 {
    flex-direction: column;
  }
  .divfor-reviewsflex {
    flex-direction: column;
  }

  .for-pic-and-content {
    flex-direction: column;
  }
  .service-main-div {
    display: flex;
    flex-direction: column;
  }
}





















